/**/*-private
/**/log.txt
/**/*history

/build/
/tmp/
/nbproject/
/dist/
/test/

/*.png
/*.html
/*.log
/*.zip
/*.out
/*.csv
/*.txt
/*.Rout
/*.Rdata
/*.Rmd
/*.exec

/input/
/Excel.vbs
/branin.R
/ASCII.zip
/ASCII.java
/sheet.xlsx